<div class="container-fluid col-12">
  <div>
    <br/>
    <div class="row">
      <div class="col-md-2 col-12">
        <mat-form-field class="col-12">
          <mat-label>Оберіть предмет</mat-label>
          <mat-select (valueChange)="onSubjectChange($event)" [(ngModel)]="selectedSubjectId" [disabled]="isLoading "
          >
            <mat-option *ngFor="let item of this.subjects" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-2 col-12">
        <mat-form-field class="col-12">
          <mat-label>Приховати роботи</mat-label>
          <mat-select (valueChange)="applyFilter($event)" [(ngModel)]="filteredColumns" [disabled]="isLoading "
                      multiple>
            <mat-option *ngFor="let item of this.allWorks" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4">
      </div>
      <div class="col-md-4 col-12">
        <div class="row control-box">
          <mat-slide-toggle
            (change)="onExtendChange($event)"
            [(ngModel)]="isExtended"
            [disabled]="isLoading"
            aria-label="Розширена версія"
            class="register-control col-md-6 col-12"
            color="warn"
            size="large">
      <span class="register-control-text">
              Розширена версія
      </span>
          </mat-slide-toggle>
          <mat-slide-toggle
            [(ngModel)]="isEdit"
            [disabled]="isLoading"
            aria-label="Розширена версія"
            class="register-control col-md-6 col-12"
            color="warn" size="large">
      <span class="register-control-text">
              Режим редагування
      </span>
          </mat-slide-toggle>
        </div>
      </div>
    </div>
    <div>
      <button (click)="addWork()" aria-label="Додати нову роботу" color="primary" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>

  <br>

  <mat-progress-bar

    *ngIf="isLoading"
    color="accent"
    mode="indeterminate">
  </mat-progress-bar>

  <div class="table-responsive">
    <table *ngIf="!isLoading" [dataSource]="dataSource" class="mat-elevation-z8 mat-table rounded" fixedLayout
           mat-table>
      <ng-container *ngFor="let col of groups" [matColumnDef]="col.header" [sticky]="col?.key === 'student'">
        <th *matHeaderCellDef [attr.colspan]="col.colSpan" class="text-center table-header mat-cell" mat-header-cell>
          {{col.header}}
        </th>
      </ng-container>

      <ng-container *ngFor="let col of columnsSchema" [matColumnDef]="col.key" [sticky]="col.key === 'student'">
        <th *matHeaderCellDef class="table-header text-center mat-cell" mat-header-cell>
          {{col.title}}
        </th>
        <td *matCellDef="let element" class="table-cell text-center mat-cell" mat-cell style="width: 100px">
          <span *ngIf="!isEdit || element[col.key + '_editable'] === 'false'">{{element[col.key]}}</span>

          <mat-select (valueChange)="onMarkChange($event, col.key, element[col.key + '_id'])"
                      *ngIf="isEdit && element[col.key + '_editable'] === 'true'"
                      [(ngModel)]="element[col.key]"
                      [disabled]="isLoading">
            <mat-option *ngFor="let item of [].constructor(element[col.key + '_limit'] + 1); let i = index"
                        [value]="i.toString()">{{i}}</mat-option>
          </mat-select>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="groupedColumns; sticky: true" mat-header-row></tr>
      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 40, 50]" class="mat-paginator-sticky">
  </mat-paginator>

</div>
