.table-header {
  font-size: 24px !important;
}

.table-cell {
  font-size: 20px !important;
}

.mat-cell {
  font-size: 12px;
  font-family: Verdana, Sans-Serif;
  display: table-cell;
  height: 48px;
  padding: 1rem;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 2px solid rgba(0, 0, 0, 0.12);
  border-right: 2px solid rgba(0, 0, 0, 0.12);
}

.register-title {
  font-size: 32px;
  font-weight: bolder;
}

.register-control-text {
  font-size: 16px !important;
}

.control-box {
  margin-top: 1rem;
}

.table-responsive {
  overflow-x: scroll;
  max-height: 600px
}

.rounded {
  border-radius: 1rem;
}
