<div class="container-fluid">
  <div class="register-title">Журнал</div>
  <div class="ma-5">
    <mat-slide-toggle
      (change)="onExtendChange($event)"
      [(ngModel)]="isExtended"
      [disabled]="isLoading"
      aria-label="Розширена версія"
      class="register-control"
      color="warn" size="large">
      <span class="register-control">
        Розширена версія
      </span>
    </mat-slide-toggle>
    <br>
    <br>
    <mat-form-field appearance="fill" class="col-md-2 col-12">
      <mat-label>Приховати роботи</mat-label>
      <mat-select (valueChange)="onHiddenChange($event)" [(ngModel)]="groupedColumns" [disabled]="isLoading" multiple>
        <mat-option *ngFor="let item of this.allWorks" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <br>

  <mat-progress-bar

    *ngIf="isLoading"
    color="accent"
    mode="indeterminate">
  </mat-progress-bar>

  <div class="table-responsive">
    <table *ngIf="!isLoading" [dataSource]="dataSource" class="mat-elevation-z8" fixedLayout mat-table>
      <ng-container *ngFor="let col of groups" [matColumnDef]="col.header">
        <th *matHeaderCellDef [attr.colspan]="col.colSpan" class="text-center table-header mat-cell" mat-header-cell>
          {{col.header}}
        </th>
      </ng-container>

      <ng-container *ngFor="let col of columnsSchema" [matColumnDef]="col.key">
        <th *matHeaderCellDef class="table-header text-center mat-cell" mat-header-cell>
          {{col.title}}
        </th>
        <td *matCellDef="let element" class="table-cell text-center mat-cell" mat-cell>
          {{element[col.key]}}
        </td>
      </ng-container>

      <tr *matHeaderRowDef="groupedColumns" mat-header-row></tr>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
</div>
