<h2 mat-dialog-title>Зміна назви групи {{this.data.groupName}}</h2>
<div mat-dialog-content>
  <mat-form-field class="col-12">
    <mat-label>Назва групи</mat-label>
    <input [(ngModel)]="name" matInput placeholder="Назва групи">
  </mat-form-field>

  <button
    (click)="onSubmit()"
    [disabled]=" this.isLoading || name.length <=0"
    [loading]="this.isLoading"
    color="primary"
    mat-raised-button
    style="margin-left: 1rem; margin-right: 1rem;">
    Змінити назву групи
  </button>
  <button
    (click)="cancel()"
    [disabled]=" this.isLoading"
    [loading]="this.isLoading"
    color="accent"
    mat-raised-button
    style="margin-left: 1rem; margin-right: 1rem;">
    Скасувати
  </button>
</div>
