.chip-deleted {
  background-color: red !important;
}

.chip-active {
  background-color: #008000 !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.table-responsive {
  overflow-x: scroll;
  max-height: 600px;
}
